@import './colors';

.btn-primary {
  position: relative;
  margin-top: 2em;

  z-index: 4;
    input[type="submit"] {
      cursor: pointer;
         font-size: 14px;
        color: $text-color;
        width:250px;
        height: 50px;
        display:inline-block;
        text-shadow: 1px 1px 2px $dark-color-opacity;
        transition: 0.7s ease;
        --size: 6px;
        --angle: 180deg;
        background:linear-gradient(180deg, $accent-color, $accent-color-opacity, $accent-color);
        border: none;
        
        --g:#0000 var(--angle),#000 0;
        -webkit-mask:
          conic-gradient(from calc(var(--angle)/-2 + 135deg) at bottom var(--size) right var(--size),var(--g)) 100% no-repeat;
        
        &:hover {
          opacity: 0.8;
           // background: linear-gradient($btn-color-one, $btn-color-two, $btn-color-three);
        
        }

      }
      
      
}

@media (max-width: $mobile) {
  .btn-primary {
    input[type="submit"] {
      width: 350px;
    }
  }
}

  