$primary-color: #1C1B16;
$accent-color: #F25322;
$shadow-color: #f252223c;
$text-color: #F9F5E1;
$dark-color: #000000;

$btn-color-one: #D23E11;
$btn-color-two: #9b2f0ed3;
$btn-color-three: #CC390B;

$accent-color-opacity: #f25222a9;
$dark-color-opacity: #0000003a;
